@media screen and (min-width: 1400px)
{
  html{
    font-size: 11px;
  }
}
@media screen and (min-width: 600) and (max-width : 1399px)
{
  html{
    font-size: 10px;
  }
}
@media screen and (min-width: 450px) and (max-width : 599px)
{
  html{
    font-size: 8px;
  }
}
@media screen and (max-width : 449px)
{
  html{
    font-size: 5px;
  }
}


@media screen and (max-width: 750px)
{
  .search{
    display: none;
  }
  .name a {
    display: none;
  }

}


/*<450px*/
@media screen and (max-width: 528px)
{
  #albums article{
    box-sizing: border-box;
    width: 46%;
    margin: 1%;
  }
}

@media screen and (min-width: 550px)
{
  div.stats-links{
    height: 40px
  }
  .stats{
    float: left;
  }
  .links{
    float: right;
  }
}
